* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.icon {
	height: 1.8rem;
	margin-right: 1.5rem;
	cursor: pointer;
}
