/* Header */
header {
	/* border: 1px solid red; */
	height: 6rem;
}

.navbar {
	height: 100%;
	width: 100%;
	padding: 1rem 2rem;
}

.navbar ul {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.4rem;
}

.navbar ul li {
	margin-left: 1.5rem;
}

.navbar ul li a {
	color: black;
}

.link:hover {
	text-decoration: underline;
}

.circle-shadow {
	/* border: 1px solid blue; */
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-shadow:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.menu-icon {
	height: 1.8rem;
}

.user-icon span {
	font-size: 1.8rem;
	color: white;
}

.user-icon {
	background-color: skyblue;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	text-align: center;
	line-height: 3rem;
}

/* Content */
.content-section {
	/* border: 1px solid red; */
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-wrapper {
	/* border: 1px solid blue; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10rem;
}

.logo-img {
	width: 30rem;
	margin-bottom: 2rem;
}

.search-bar {
	border: 1px solid lightgray;
	width: 60rem;
	height: 4.5rem;
	border-radius: 3rem;
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
}

.search-bar:hover {
	box-shadow: 0px 0px 4px 0px #b5b5b5;
}

.search-bar input {
	flex-grow: 1;
	height: 3rem;
	margin-right: 1.5rem;
	font-size: 1.6rem;
	border: none;
}

.search-bar input:focus {
	outline: none;
}

.search-btns {
	margin-top: 2rem;
}

.search-btns button {
	height: 4rem;
	font-size: 1.4rem;
	border: none;
	border-radius: 0.5rem;
	margin-left: 1rem;
	color: black;
	background-color: #f2f3f4;
}

.search-btns button:hover {
	border: 1px solid lightgray;
}

.google-search-btn {
	width: 12rem;
}

.lucky-search-btn {
	width: 14rem;
}

.language {
	margin-top: 2rem;
	font-size: 1.4rem;
}

.language p a:hover {
	text-decoration: underline;
}

/* Footer */
footer {
	background-color: #f2f2f2;
	height: 10rem;
}

.footer-content {
	display: flex;
	align-items: center;
	padding: 2rem;
}

.upper-footer {
	height: 50%;
	border-bottom: 1px solid lightgray;
}

.upper-footer p {
	color: gray;
	font-size: 1.4rem;
}

.lower-footer {
	height: 50%;
	display: flex;
	justify-content: space-between;
}

.lower-footer ul li a {
	font-size: 1.4rem;
	color: gray;
}

.lower-footer ul li a:hover {
	text-decoration: underline;
}

.lower-left-footer {
	display: flex;
}

.lower-left-footer li {
	margin-right: 1.5rem;
}

.lower-right-footer {
	display: flex;
}

.lower-right-footer li {
	margin-left: 1.5rem;
}

/* Mobile and Tablet */
@media only screen and (max-width: 650px) {
	/* Navbar */
	.navbar ul {
		font-size: 1rem;
	}

	.menu-icon,
	.user-icon span {
		font-size: 1.4rem;
	}

	.circle-shadow {
		height: 3rem;
		width: 3rem;
	}

	/* Logo */
	.logo-img {
		width: 20rem;
	}

	/* Search Bar */
	.search-bar {
		width: 90%;
		height: 3.5rem;
	}

	.search-bar i {
		font-size: 1.4rem;
	}

	/* Buttons */
	.search-btns button {
		height: 3rem;
		font-size: 1.2rem;
	}

	.google-search-btn {
		width: 10rem;
	}

	.lucky-search-btn {
		width: 12rem;
	}

	/* Language */
	.language {
		font-size: 1.2rem;
	}

	/* Footer */
	footer {
		height: 15rem;
	}

	.upper-footer {
		height: 5rem;
	}

	.lower-footer {
		height: 10rem;
		flex-direction: column;
		text-align: center;
	}

	.lower-left-footer {
		width: 80%;
		justify-content: space-around;
	}

	.lower-right-footer {
		width: 80%;
		justify-content: space-around;
	}

	.hidable {
		display: none;
	}
}
